[user]
	name = Philipp Wahala
	email = philipp.wahala@gmail.com
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = /Users/achilles/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
